services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: taskhub
      MYSQL_USER: taskhub
      MYSQL_PASSWORD: taskhubpass
    ports:
      - "3307:3306"
    command:
      ["--default-authentication-plugin=mysql_native_password"]
